<nav class="custom-nav navbar navbar-expand-md b header-shadow bg-light py-0">
  <div class="container">
    <!--logo name-->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <!-- <div class="container-fluid"> -->
    <a class="navbar-brand d-flex" routerLink="/">
      <img src="../../assets/img/logo.svg" height="57" alt="image" width="56" />
      <div class="nav-text" width="156.2" height="59.4">
        <img
          class="nav-logotype"
          src="../../assets/img/logotype.svg"
          alt="HighWire"
        />
        <div class="nav-product-name">Intelligent commerce</div>
        <div class="nav-publisher" *ngIf="publisher">{{ publisher }}</div>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--report and journal button-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="nav navbar-nav me-auto mb-2 mb-lg-0"
        *ngIf="hwpUser && jouralslect"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="javascript void(0)"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Journals</a
          >
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/journals/default"
                >Default Prices</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/journals/specific"
                >Specific Prices</a
              >
            </li>
            <li *ngIf="subscriptions">
              <a class="dropdown-item" routerLink="/journals/subscriptions"
                >Journal Subscriptions</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="model.ebook">
          <a
            class="nav-link dropdown-toggle"
            href="javascript void(0)"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Books</a
          >
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/book/default"
                >Default Prices</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/book/specific"
                >Specific Prices</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="model.refwork">
          <a
            class="nav-link dropdown-toggle"
            href="javascript void(0)"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >References</a
          >
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/references/specific"
                >Specific Prices</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="model.site">
          <a
            class="nav-link dropdown-toggle"
            href="javascript void(0)"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Sites</a
          >
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/sites/specific"
                >Site Subscription</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="javascript: void(0)"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reports
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" routerLink="/reports/detailed">
                Detailed
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/reports/mostpopular"
                >Most Popular</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/reports/charts">Charts</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--higwirebutton-->
      <div class="spinner-frame">
        <!-- <img src="../../assets/img/hwprocessing_black.png"
              class="icon-spin-reverse" /> -->
      </div>

      <ul class="nav navbar-nav navbar-right" *ngIf="hwpUser">
        <!-- <div class="highRight" style="width: 690px; z-index:1"> -->
        <li class="nav-item dropdown">
          <!-- <li class="nav-item dropdown" style="float: right;"> -->
          <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0)"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            HighWire Press
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end rounded-0 mb-2"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/journals/publishers"
                >Switch Publisher</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                (click)="goToLogout()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
        <!-- </div> -->
      </ul>
    </div>
  </div>
</nav>
