.btn-danger{border-radius: 0px;
    padding: 4px 12px;}
.btn-primary{border-radius: 0px;}

.input-group>.form-select {
    border-radius: 0px;
    padding: 6px 12px;
    background-color: #4A90E2;color: white;
}
.form-control {
    text-transform: capitalize;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ffffff!important;
}

:host ::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
    background-color: #4A90E2;
}