.dropbtn {
    background-color:#f9f9f9;
    color: brown;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(194, 4, 4);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:brown;
    color: white;
  }


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .bremove {
    border-radius: 0px;
    background-color: brown;
     margin-bottom: 15px;
    height: 38px;
}
.btn-danger{
  background-color: brown;
  border-radius: 0px;
}


.btn-info {
    background-color:#0d6efd!important;
  padding:8px 30px;
  color:white;
  border-radius: 0px;
 
}
.thline{text-transform: uppercase;
    color: brown;
}

button{text-transform: uppercase;}
.isar{
        color: brown;;
        font-weight: bold;
        
}
table tr{border: none;}

#chapter{width: 50%;
            padding: 5px;
        border-radius: 0px;
        }
@media (max-width:768px){
  #chapter{width: 100%!important;

}
.form_list{
  overflow-x: scroll!important;
}
  
}
.scurrency{
  padding: 9px;
}

.btn-info{
          
          margin-left: -7px!important;
          
      }
.btn-primary {
      
        border-radius: 0px;
    }

 td {
        
        width: 17%;
    }

    .mb-5 {
      margin-bottom: 170px!important;
  }


  form .form_list{
    overflow-x: scroll;
  }
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 50%;
}

.selected-item {
       max-width: 1001px !important;
}

/* table{
  min-height: 0px!important;
} */
/* select */
 @media screen and (min-width:768px) and (max-width:1320px){
  :host ::ng-deep .multiselect-dropdown .dropdown-btn{
  
    width: 661px!important;
   
    border-radius: 0px!important;
  }
  
  :host ::ng-deep .multiselect-dropdown{
    
    width: 695px!important;
    
  }

}
  


:host ::ng-deep .multiselect-dropdown .dropdown-btn{
  
  border-radius: 0px!important;
}


:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
  
  padding: 0 5px!important;
  
  max-width: 445px!important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
background-color:#4A90E2;
height: 36.05px!important;
  right: -5px!important;
  transition: none!important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret::before {
border-color: #fff transparent!important;
color: #fff!important}



