
.mat-table {
    display: block;
    width: 100%;
    overflow-x: auto;
}



.table-column-200 {
    min-width: 200px;
}
.alertbar{
    padding:15px;
    border-radius: 0px;
    color: white;
    background-color: #4A90E2;

}
.btn-dark {
    color: #fff;
    background-color: #949ba1;
    border-color: #949ba1 !important;
    border-radius: 0px!important;
    padding: 3px 10px !important;
    margin-left: 2px;
}
.btn-primary {
  color: #fff;

  border-radius: 0px!important;
  padding: 3px 1px !important;
  margin-left: 2px;
}
.btn-danger, .btn-light{
    padding:3px 8px;
    border-radius: 0px ;
    /* margin-bottom: 17px;
    text-align: center; */
}
.Jstitle{
      
    margin-top: 11px;
    margin-bottom: 11px;

    color: #A81732;

    font-weight: 300;
    letter-spacing: .3px;

    font-size: 30px!important;

}
