
.mat-table {
    display: block;
    width: 100%;
    overflow-x: auto;
}



.table-column-200 {
    min-width: 200px;
}
.alertbar{
    padding:20px;
    border-radius: 0px;
    color: white;
    background-color: #4A90E2;

}
.btn-primary{
    border-radius: 0px;
}
.btn-danger{
    border-radius: 0px;
}

