<div class="container p-2 my-3">
  <h1
    style="
      text-transform: capitalize;
      color: brown;
      font-size: 30px;
      font-family: 'Lato';
      font-weight: 100;
    "
    class="pt-3"
  >
    Add Site Subscription
  </h1>
  <hr />

  <div class="row">
    <div class="col-md-2">
      <h2 class="lead text-muted" style="font-family: 'Lato'; font-weight: 100">
        Site:
      </h2>
    </div>
    <div class="col-md-10">
      <ng-multiselect-dropdown
        [placeholder]="'Filter sites...'"
        [settings]="dropdownSettings"
        [data]="sitedata"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>
  <form class="form" class="form_list">
    <table class="table" *ngIf="selected">
      <tr class="thline">
        <th></th>

        <!-- table title -->
        <th>
          <div class="row">
            <div class="col">
              <h3>Currency</h3>
            </div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="col">
              <h3>Forsale</h3>
            </div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="col">
              <h3>Price</h3>
            </div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="col">
              <h3>Access Panel</h3>
            </div>
          </div>
        </th>

        <!-- tabledata    -->
      </tr>
      <tr *ngFor="let item of pricearray; let ind = index">
        <td class="isar" style="text-transform: capitalize">
          <h3>{{ item.showName }}</h3>
        </td>
        <td>
          <div class="input-group input-group-sm">
            <select
              class="mb-3 btn btn-primary scurrency dropdown-toggle"
              name="{{ item.price_currency + ind }}"
              [(ngModel)]="item.price_currency"
            >
              <option *ngFor="let curr of currency" value="{{ curr }}">
                {{ curr }}
              </option>
            </select>
          </div>
        </td>
        <td>
          <label class="switch">
            <input
              type="checkbox"
              (change)="onItemChange($event.target, item)"
              [checked]="item.price_amount == 'Not for Sale' ? false : true"
            />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <div class="input-group input-group-sm">
            <div
              *ngIf="
                item.price_amount == notForSaleLabel;
                then thenBlock;
                else elseBlock
              "
            ></div>
            <ng-template #thenBlock>{{ notForSaleLabel }} </ng-template>
            <ng-template #elseBlock>
              <span
                style="
                  border-radius: 0px;
                  border: 1px solid lavender;
                  margin-bottom: 10px;
                "
                class="input-group-text"
                id="#"
                >{{ item.price_currency | sitefilterPipe }}</span
              >
              <input
                style="
                  border-radius: 0px;
                  background-color: #ffffff;
                  border: 1px solid lavender;
                  margin-bottom: 10px;
                "
                type="text"
                [(ngModel)]="item.price_amount"
                name="{{ item.price_amount + ind }}"
                class="form-control"
                placeholder=""
                aria-label="price"
                aria-describedby="#"
              />
            </ng-template>
          </div>
        </td>
        <td>
          <div class="btn-group" role="group">
            <select
              class="mb-3 btn btn-primary dropdown-toggle"
              name="{{ item.price_interval + ind }}"
              [(ngModel)]="item.price_interval"
            >
              <option
                *ngFor="let item1 of accessPeriods"
                value="{{ item1.value }}"
              >
                {{ item1.label }}
              </option>
            </select>
          </div>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger bremove"
            (click)="removeitem(ind)"
          >
            Remove
          </button>
        </td>
      </tr>

      <!-- buttons -->
      <tr *ngIf="selected">
        <td>
          <div class="dropdown">
            <button
              class="btn btn-info dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Add Price
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="addPrice('journal-price')"
                  >journal Subscription</a
                >
              </li>
              <!-- <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  (click)="addPrice('article')"
                  >Article</a
                >
              </li> -->
            </ul>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" (click)="update()" class="btn btn-info">
            Save
          </button>
        </td>
      </tr>
      <!-- previous code -->
      <!-- <tr *ngIf="selected" class="col-12"> -->
      <!-- <td><button type="button" class="btn btn-danger">Cancel</button></td>
             <td></td>
             <td></td>
             <td>
                <div><button type="button" (click)="update()" class="btn btn-info">Save</button></div>
             </td> -->
    </table>
  </form>
</div>
